.title {
    font-size: 30;
    horizontal-align: center;
    margin: 20;
}

.list-item {
    padding: 5;
    height: 30;
}

.thing-name {
    height: 20;
}

.thing-switch {
    horizontal-algn: right;
}
